<%- include('layout/navbar') %>


    <div class="background1">
        <div class="text-box1">
            <h1>RESEARCH</h1>
            <h1>WORKPLACE</h1>
        </div>
        <div class="text-box2">
            <h2>สามารถดูข้อมูลสถานที่ทำงานของรุ่นพี่ที่จบแล้วได้</h2>
        </div>
        <div class="container1">
            <a class="btn" href="/table" role="button">Table</a>
        </div>
    </div>

    <%- include('layout/footer') %>