<div class="mb-3">
    <label>Name</label>
    <input type="text" name="name" class="form-control" required value="<%= users.name %>" />
</div>
<div class="mb-3">
    <label>Place</label>
    <input type="text" name="place" class="form-control" required value="<%= users.place %>" />
</div>
<div class="mb-3">
    <label>Roles</label>
    <input type="text" name="place" class="form-control" required value="<%= users.roles %>" />
</div>
<div class="mb-3">
    <label>Contact</label>
    <input type="text" name="place" class="form-control" required value="<%= users.contact %>" />
</div>
<div class="mb-3">
    <button type="submit" name="submit" value="Add Data" class="btn btn-primary">Save</button>
</div>